body {
    justify-content: center;
    align-content: center;
    background-color: green;
}

img{
    border: 3px solid gray;
    width: 500px;
    justify-content: center;
}

button {
    display: flex;
}

.p {
    display: flex; 
    justify-content: center;
}